{% extends 'base.html.twig' %}

{% block body %}
<h1>Motor Actor</h1>

<article>
Motor Actor, le premier site d'échange et de partage de pièce automobile!
Ici, en plus de faire rouler les mécaniques, on maîtrise symfony et ses principes.
Le TWIG, le MVC, COMPOSER et la CLI (doctrine, fixtures & faker), mais aussi l'interpolation, le système de route
On a configuré le fichier security.yaml, bref, on a fait un tas de choses bien sympatiques grâce à cet ECF.

Retrouvez le code source (environnement dev) sur github : 
<a href="https://github.com/SamyGev/ECFSymfony.git">https://github.com/SamyGev/ECFSymfony.git</a>
</article>

{% endblock %}